.card__wrapper {
  display: grid;
  grid-template-areas:
    "header  header  header"
    "content content content";
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.card__content {
  grid-area: content;
  padding: 30px;
  border-radius: 30px;
  background: white;
}

.card__title {
  grid-area: header;
  text-align: center;
  padding: 10px;
}
